{% extends 'authapp/base.html' %}
{% load static %}

{% block header %}
<h2>
            Profile Edit:
        </h2>
{% endblock %}

{% block container %}
    <div class="user_pic" style="margin-top: 20px;">
        <img src="{% if user.profile_pic %}/media/{{ user.profile_pic }}{% else %}{% static '/img/user_pic.png' %}{% endif %}">
    </div>
    <form class="form-horizontal" action="{% url 'auth:edit' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ edit_form.as_p }}

        <div class="button_block">
        <div><input class="button-order form-control" type="submit" value="Save"></div>
        <a href="{% url 'main:index' %}"><div class="button-order">
            Back
        </div></a>
        </div>


    </form>


{% endblock %}