{% extends 'authapp/base.html' %}
{% load static %}

{% block header %}

<h2>
            User Authentification:
</h2>

{% endblock %}

{% block container %}
    <form class="form-horizontal" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br>

        <div class="button_block">

            <div><input class="button-order form-control" type="submit" value="Sign In"></div>
            <a href="{% url 'auth:register' %}"><div class="button-order">
            Register
            </div></a>

        </div>


    </form>


{% endblock %}
