<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>
        {{ title|title }}
    </title>
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/auth.css' %}">
    {% endblock %}
    {% block js %}

    {% endblock %}
</head>
<body>

{% block header %}

<header>
<div class="logo">
	<a href="{% url 'main:index' %}"><img src="{% static 'img/bee_logo.png' %}" href="/"/></a>
</div>
{% include 'adminapp/includes/inc__menu.html' %}
</header>
{% endblock %}

<div style='display: flex; justify-content: center;
    align-content: center; font-family: digital_c; margin-top: -22px; margin-left: 0px;'>

<div class="log_box wide" style="padding: 40px;">


        {% block container %}
        {% endblock %}
</div>
</div>
</body>
</html>