{% extends 'adminapp/base.html' %}
{% load staticfiles %}


{% block container %}
  <div class="user_delete">
    Are you sure you want to delete '{{ cat_to_delete.name }}' category
    ?
    <form action="{% url 'admin:category_delete' cat_to_delete.pk %}"
          method="post">
      {% csrf_token %}
      <input class="btn btn-danger" type="submit" value="Delete">
    </form>
    <button class="btn btn-success">
      <a href="{% url 'admin:categories' %}">
        Cancel
      </a>
    </button>
  </div>
{% endblock %}