{% extends 'adminapp/base.html' %}
{% load staticfiles %}


{% block container %}
  <div class="user_delete">
    Are you sure you want to {% if not object.is_active %}delete{% else %}deactivate{% endif %} '{{ object.name }}' category
    ?
    <form action="{% url 'admin:category_delete' object.pk %}"
          method="post">
      {% csrf_token %}
      <input class="btn btn-danger" type="submit" value="{% if not object.is_active %}Delete{% else %}Deactivate{% endif %}">
    </form>
    <button class="btn btn-success">
      <a href="{% url 'admin:categories' 1 %}">
        Cancel
      </a>
    </button>
  </div>
{% endblock %}