{% if object.status == 'FM' %}
   <button class="btn btn-warning btn-round form-control last">
       <a href="{% url 'ordersapp:order_forming_complete' object.pk %}">
           Complete purchase
       </a>
   </button>
   <button class="btn btn-default btn-round form-control last">
       <a href="{% url 'ordersapp:order_delete' object.pk %}">Delete</a>
   </button>
{% endif %}
<button class="btn btn-info btn-round form-control last">
   <a href="{% url 'ordersapp:orders_list' %}">
       Order list
   </a>
</button>
<button class="btn btn-default btn-round form-control last">
   <a href="{% url 'main:index' %}">Home</a>
</button>