@charset "utf-8";
/* CSS Document */
@font-face {font-family: pixel_f; src: url('/static/fonts/Fixedsys.ttf');}
@font-face {font-family: digital_c; src: url('/static/fonts/VCR_OSD_MONO.ttf');}

body {
	color: #FFFFFF;
	background-color: #100b0f;
	margin-top: 3vh;
	display: grid;
	justify-content: center;
	align-items: center;
}

.log_box {
    display: block;
}

a:link{
    color: #392261;
    text-decoration: none;
}

a:hover{
    color: aliceblue;
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

header {
	text-align: center;
	display:flex;
	justify-content:center;
	align-items:center;
	
}

.logo {
	float: left;
	margin-left: -30px;
	margin-bottom: 60px;
}

input {
    border-style: none;
}


.button-order {
	background-color:  #02b987;
	box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
	width: 150px;
	height: 45px;
	display: block;
	text-transform: uppercase;
	text-align: center;
	border-radius: 22px;
	text-decoration: none;
	color:  #212121;
	font-size: 14px;
	font-weight: 700;
	font-family: sans-serif;
	line-height: 45px;
	margin-top: 32px;
	letter-spacing: 1px;
	margin-left: 0;
	margin-right: 0;
	margin-top: 10px;
	margin-bottom: 10px;

}
.button-order:hover {
	background-color:  #FFFFFF;
	cursor: pointer;
}
.button-order:active {
	box-shadow: none;

}
.button-order img{
	padding-left: 22px;
}

.button_block{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: -40px;
}

ul {
    width: 300px;
    font-size: 0.8em;
    border-style: solid;
    border-radius: 16px;
    background-color: blueviolet;
    border-width: 0;
    padding: 10px;
    padding-right: 0px;
    padding-left: 15px;
    margin-left: -25px;
    list-style: none;
    color: black;

}